#szmcf_loglist .dathead {
    padding:5px;
    font-weight: normal;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #505050;;
    cursor: pointer;
    color: #aaa;
    overflow: hidden;
}
#szmcf_loglist .dhead1{ width:240px;height: 1.4em;float:left;} 
#szmcf_loglist .dhead2{ width:210px;height: 1.4em;float:left;}
#szmcf_loglist .dhead3{ width:140px;height: 1.4em;float:left;}
#szmcf_loglist .dhead4{ width:240px;height: 1.4em;float:left;}

#szmcf_loglist .ditail {
    padding: 5px;
    font-family: Arial;
    font-size: 13px;
    border: 1px solid #ddd;
    background: #aaa;
    overflow: hidden;
}


#szmcf_loglist table{
    width: 100%;
    border-collapse: collapse;
}
#szmcf_loglist table,
#szmcf_loglist table th,
#szmcf_loglist table td
{
    border: solid 1px #777;
}
#szmcf_loglist table th,
#szmcf_loglist table td
{
    padding-left: 0.5em;
    padding-right: 0.5em;   
}
#szmcf_loglist table th
{
    background-color: #ccc;
    text-align: center;
}

#szmcf_loglist .field_name 
{
    width: 10em;
}

#szmcf_loglist .dathead a{
    color: #bbe;
}

#szmcf_loglist table td.post_key
{
    white-space: nowrap;
}
