#szmcf_loglist .dathead {
    padding:5px;
    font-weight: normal;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #505050;;
    cursor: pointer;
    color: #aaa;
    overflow: hidden;
}
#szmcf_loglist .dhead1{ width:240px;height: 1.4em;float:left;} 
#szmcf_loglist .dhead2{ width:200px;height: 1.4em;float:left;}
#szmcf_loglist .dhead3{ width:240px;height: 1.4em;float:left;}

#szmcf_loglist .ditail {
    padding: 5px;
    font-family: Arial;
    font-size: 13px;
    border: 1px solid #ddd;
    background: #aaa;
    overflow: hidden;
}
#szmcf_loglist .ddtail1{
    width : 80%;
    float:left;
} 
#szmcf_loglist .ddtail2{
    width:120px;
    height: 4.4em;
    float:right;
}
